body{
    width:900px;
}
h1{
    margin: auto;
    padding:5px;
}
h3{
    color: red;
}
input{
    margin-bottom: 2em;
}
.entry-data{
    padding: .5em;
    height:300px;
    width:400px;
    border: 3px solid black;
    float: left;
}
.todo{
    width:100%;
    background-color: red;
    margin-left: 1em;
    cursor: pointer;
}
.completed{
    opacity: 50%;
    background-color: aquamarine;
    display: flex;
}
#incomplete-items{
    overflow: hidden;
    height:auto;
    width:400px;
    border: 3px solid black;
    float: left;
}
.to-do-columns:after {
    content: "";
    display: table;
    clear: both;
  }
#complete-items{
    overflow: hidden;
    height:auto;
    width:400px;
    border: 3px solid black;
    float: left;
}

