body{
    width:900px;
    background-color: azure;
    margin: auto;
    margin-top: 1em;
}
h1{
    margin: auto;
    padding:5px;
}
h3{
    color: red;
}
input{
    margin-bottom: 2em;
}
.entry-data{
    padding: .5em;
    height:300px;
    width:400px;
    border: 3px solid black;
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
    box-shadow: 5px 5px;
}
.todo{
    background-color: red;
    margin-left: 1em;
    cursor: pointer;
}
.completed{
    opacity: 50%;
    background-color: aquamarine;
    cursor: pointer;
}
#incomplete-items{
    overflow: hidden;
    height:auto;
    width:400px;
    border: 3px solid black;
    float: left;
    margin-right: .5em;
    box-shadow: 5px 5px;
}
#complete-items{
    overflow: hidden;
    height:auto;
    width:400px;
    border: 3px solid black;
    float: left;
    box-shadow: 5px 5px;
}



